<div class="center" style="text-align: center;">
    <p>Lista histórico.</p>
</div>

<div class="container">
    <li class="list-group-item d-flex justify-content-between align-items-start"
    *ngFor="let dado of dados">
        <div 
        class="ms-2 me-auto"
        >
            <div class="fw-bold"> bandeira: {{ dado.bandeira }} </div>  
            <div class="fw-bold"> codInstalacao: {{ dado.codInstalacao }} </div>      
            <div class="fw-bold"> dataColeta: {{ dado.dataColeta }} </div>    
            <div class="fw-bold"> ID: {{ dado.id }} </div>
            <div class="fw-bold"> municipio: {{ dado.municipio }} </div> 
            <div class="fw-bold"> produto: {{ dado.produto }} </div>
            <div class="fw-bold"> revendedora: {{ dado.revendedora }} </div> 
            <div class="fw-bold"> siglaEstado: {{ dado.siglaEstado }} </div> 
            <div class="fw-bold"> siglaRegiao: {{ dado.siglaRegiao }} </div> 
            <div class="fw-bold"> unidadeMedida: {{ dado.unidadeMedida }} </div> 
            <div class="fw-bold"> valorCompra: {{ dado.valorCompra }} </div> 
            <div class="fw-bold"> valorVenda: {{ dado.valorVenda }} </div> 
        </div>
    </li>
</div>