<div class="center" style="text-align: center;" >
    <p></p>
</div>

<form  [formGroup]="form" class="form-vertical" (ngSubmit)="onSubmit()" id="munic" >
    
   <div class="form-group" [ngClass]="aplica">
    <label  
        for="nome" 
        class="control-label"
    >
        Município
    </label>

    <input 
        type="text"
        class="form-control"
        [ngClass]="erro('municipio')"   
        name="municipio" 
        id="municipio" 
        formControlName="municipio" 
        placeholder="EX: João Pessoa"   
    >    
    <app-mensagem-error 
    [mostrarErro]="verificaValidTouched('municipio')"
    msgErro='Município é Obrigatório'>
    </app-mensagem-error>
   </div>
   <div class="botao" style="text-align: center;">
    <button 
        type="submit" 
        class="btn btn-primary"
    >
        Enviar
    </button>
</div>
<br>
    A media do municio é: {{ mediaresult }}
</form>
