<div class="center" style="text-align: center;">
    <p>municipio works!</p>
    </div>
    
    <form  [formGroup]="form" class="form-vertical" (ngSubmit)="onSubmit()" >
    
        <div class="form-group">
            <label 
                for="nome" 
                class="control-label"
            >
               Município
            </label>
        <app-mensagem-error 
            [mostrarErro]="verificaValidTouched('combustivel')"
            msgErro='Município é Obrigatório'>
        </app-mensagem-error>
        <div class="botao" style="text-align: center;">
        <button 
            type="submit" 
            class="btn btn-primary"
        >
            Enviar
        </button>
    
    </div>
    </form>
    
    
    <!-- combustivel, data, id, preco -->